.main-body {
  height: 100vh;
  display: flex;
  align-items: center;
  background-color: var(--secondary);
  padding: 16px;
  position: relative;
  overflow-x: scroll;
}

.chatlist {
  flex: 1;
  display: flex;
  flex-direction: column;
  background-color: var(--bgdark);
  border-right: 1px solid gray;
  height: 100%;
  position: relative;
}
.settings {
  position: absolute;
  top: 60px;
  right: 10px;
  padding: 4px 0;
  background-color: var(--bgxlight);
  border-radius: 4px;
  display: flex;
  align-items: flex-start;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.7);
  flex-direction: column;
  visibility: hidden;
  z-index: 1;
  opacity: 0;
  transition: all 0.3s ease;
}
.tap {
  opacity: 1;
  visibility: visible;
}
.settings > p {
  width: 100%;
  height: 30px;
  color: white;
  padding: 24px;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
.settings > p:hover {
  background-color: var(--bgdark);
}
.chathead,
.topbar,
.bottombar {
  width: 100%;
  height: 60px;
  display: flex;
  align-items: center;
  background-color: var(--bglight);
}
.chatsearch {
  width: 100%;
  height: 50px;
  display: flex;
  align-items: center;
  background-color: var(--bgdark);
  justify-content: center;
  padding: 2px 16px;
  border-bottom: 1px solid rgba(216, 216, 216, 0.1);
  gap: 20px;
}
.chatsearch > .searchbar,
.bottombar > .searchbar {
  width: 90%;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  background-color: var(--bglight);
  border-radius: 5px;
  padding: 2px 16px;
  height: 35px;
}
.chatsearch > .searchbar {
  justify-content: space-around;
}
.searchbar > input[type="text"] {
  width: 90%;
  border-radius: 2px;
  background-color: transparent;
  outline: none;
  border: none;
  font-size: 15px;
  color: rgba(255, 255, 255, 0.8);
  height: 30px;
}
.chatsearch > .icon,
.searchbar > .icon,
.bottombar > .icon,
.topbar > .icon,
.icons > .icon {
  display: flex;
  align-items: center;
  justify-content: center;
  color: var(--icon);
  cursor: pointer;
  border-radius: 60px;
}

.chats {
  width: 100%;
  flex-direction: column;
  overflow-y: auto;
  overflow-x: hidden;
  height: calc(100% - 110px);
}

.chatpage {
  flex: 2;
  display: flex;
  align-items: center;
  background-color: var(--bgdark);
  position: relative;
  height: 100%;
}

.chathead {
  padding: 2px 16px;
}

.topbar {
  position: absolute;
  padding: 2px 16px;
  top: 0;
  gap: 20px;
}
.bottombar {
  position: absolute;
  bottom: 0;
  gap: 20px;
  padding: 0 16px;
}

.chatitem {
  width: 100%;
  height: 72px;
  display: flex;
}
.chatitem:hover {
  background-color: var(--bglight);
  cursor: pointer;
}
.dp {
  width: 15%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.chatitem > .dp {
  width: 15%;
}

.chatitem > .details {
  width: 70%;
  display: flex;
  align-items: flex-start;
  padding-top: 18px;
  padding-left: 16px;
  flex-direction: column;
  gap: 5px;
  color: rgba(255, 255, 255, 0.8);
  border-bottom: 1px solid rgba(216, 216, 216, 0.1);
}

.chatitem > .time {
  width: 15%;
  display: flex;
  flex-direction: column;
  padding-top: 12px;
  padding-left: 6px;
  font-size: 12px;
  color: rgba(255, 255, 255, 0.5);
  border-bottom: 1px solid rgba(216, 216, 216, 0.1);
}

.dp > .image > img,
.dp > img {
  width: 40px;
  height: 40px;
}
.dp > .image {
  display: flex;
  align-items: center;
  justify-content: center;
}
.link {
  text-decoration: none;
  color: white;
}

.bottombar > .searchbar {
  background-color: var(--bgxlight);
  width: calc(100% - 180px);
  justify-content: flex-start;
  height: 40px;
  margin: 0 16px;
}
.chathead > .dp {
  width: 60px;
  cursor: pointer;
}
.chathead > .icons {
  width: calc(100% - 60px);
  height: 100%;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  gap: 30px;
}
.topbar > .dp {
  width: 60px;
  cursor: pointer;
}
.topbar > .chatname {
  font-size: 16px;
  color: rgba(255, 255, 255, 0.8);
  width: calc(100% - 180px);
  display: flex;
  flex-direction: column;
  gap: 5px;
  padding: 0 14px;
}

.chatname > span {
  font-size: 12px;
}

.time > .icon {
  transform: translateX(20px);
  opacity: 0;
  transition: all 0.1s ease;
}
.chatitem:hover .time > .icon {
  transform: translateX(0px);
  opacity: 1;
}

.chatsection {
  width: 100%;
  height: calc(100% - 120px);
  padding: 20px 100px;
  display: flex;
  gap: 20px;
  flex-direction: column;
  overflow-y: scroll;
  overflow-x: hidden;
}
.encryption {
  color: white;
  font-size: 12px;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 10px;
}
.encryption span {
  color: aqua;
}
